/* Navbar container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white; /* Navbar background color */
    padding: 10px 20px;
}

/* Logo styles */

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h1 {
    font-size: 2rem;
    text-transform: uppercase;
  }
  .logo img {
    width: 5rem;
    height: 5rem;
    background-size: cover;
  }

  nav {
    /* width: 40%; */
    padding: 1rem;
  }



/* Navigation links styles */
.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
}

.nav-links li {
    font-size: 16px;
}

.nav-links a {
    text-decoration: none;
    color: #1d2d44; /* Link color */
    transition: color 0.3s;
    font-weight: 600;
    font-size: 18px; /* Adjust the font size as needed */
    padding: 8px 16px; /* Add padding for a button-like appearance */
   
  }
  
  .nav-links a:hover {
    color: #4c6c99; /* Link color on hover */
  }


.menu-button {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    color: #1d2d44;
    cursor: pointer;
  }

/* Responsive styles */
@media screen and (max-width: 768px) {
    .navbar {
        /* flex-direction: column; */
        text-align: center;
    }

    .nav-links {
        flex-direction: column;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .menu-button {
        display: block;
      }
    
      .nav-links {
        display: none;
        flex-direction: column;
        text-align: center;
        background-color: rgb(225, 229, 235); /* Background color for the menu */
        padding: 20px;
        position: absolute;
        top: 90px;
        left: 0;
        right: 0;
        z-index: 11;
      }
    
      .nav-links.active {
        display: flex;
      }
    
}
