* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bellefair", serif;
}
a,
p,
li {
  font-family: "Barlow Condensed", sans-serif;
}
body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgb(8, 30, 48);
}
header {
  width: 100%;
}
